<div class="row">
	<div class="large-12 columns">
		<div class="hero-wrapper">
			<div class="hero-text">
				<h1 class="text-center">Welcome</h1>
				<p class="text-center">Your home away from home</p>
			</div>
		</div>
	</div>
</div>
