<div class="slick">
  <div>your content1</div>
  <div>your content2</div>
  <div>your content3</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<ul>
			<li>Thing one</li>
			<li>Thing two</li>
			<li>Thing three</li>
	</div>
</div>
